@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-neutral-50 bg-neutral-900 font-['Roboto_Condensed',_sans-serif];
  }
  .path-0 {
    animation: pathAnim-0 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0 {
    0% {
      d: path(
        "M 0,500 C 0,500 0,250 0,250 C 112.08612440191388,253.52153110047848 224.17224880382776,257.04306220095697 334,278 C 443.82775119617224,298.95693779904303 551.3971291866029,337.3492822966507 626,318 C 700.6028708133971,298.6507177033493 742.2392344497607,221.5598086124402 815,194 C 887.7607655502393,166.4401913875598 991.6459330143541,188.41148325358853 1101,206 C 1210.3540669856459,223.58851674641147 1325.1770334928228,236.79425837320574 1440,250 C 1440,250 1440,500 1440,500 Z"
      );
    }
    25% {
      d: path(
        "M 0,500 C 0,500 0,250 0,250 C 71.66507177033495,284.3732057416268 143.3301435406699,318.7464114832536 235,340 C 326.6698564593301,361.2535885167464 438.3444976076554,369.3875598086124 542,339 C 645.6555023923446,308.6124401913876 741.2918660287082,239.70334928229664 848,215 C 954.7081339712918,190.29665071770336 1072.488038277512,209.79904306220095 1173,223 C 1273.511961722488,236.20095693779905 1356.755980861244,243.10047846889952 1440,250 C 1440,250 1440,500 1440,500 Z"
      );
    }
    50% {
      d: path(
        "M 0,500 C 0,500 0,250 0,250 C 84.71770334928229,251.74162679425837 169.43540669856458,253.48325358851676 260,250 C 350.5645933014354,246.51674641148324 446.97607655502395,237.8086124401914 539,244 C 631.023923444976,250.1913875598086 718.6602870813396,271.2822966507177 835,253 C 951.3397129186604,234.71770334928232 1096.3827751196172,177.0622009569378 1202,170 C 1307.6172248803828,162.9377990430622 1373.8086124401914,206.4688995215311 1440,250 C 1440,250 1440,500 1440,500 Z"
      );
    }
    75% {
      d: path(
        "M 0,500 C 0,500 0,250 0,250 C 117.07177033492823,209.53110047846891 234.14354066985646,169.06220095693783 327,166 C 419.85645933014354,162.93779904306217 488.4976076555024,197.28229665071768 570,220 C 651.5023923444976,242.71770334928232 745.866028708134,253.8086124401914 852,249 C 958.133971291866,244.1913875598086 1076.0382775119617,223.48325358851676 1176,221 C 1275.9617224880383,218.51674641148324 1357.9808612440193,234.25837320574163 1440,250 C 1440,250 1440,500 1440,500 Z"
      );
    }
    100% {
      d: path(
        "M 0,500 C 0,500 0,250 0,250 C 112.08612440191388,253.52153110047848 224.17224880382776,257.04306220095697 334,278 C 443.82775119617224,298.95693779904303 551.3971291866029,337.3492822966507 626,318 C 700.6028708133971,298.6507177033493 742.2392344497607,221.5598086124402 815,194 C 887.7607655502393,166.4401913875598 991.6459330143541,188.41148325358853 1101,206 C 1210.3540669856459,223.58851674641147 1325.1770334928228,236.79425837320574 1440,250 C 1440,250 1440,500 1440,500 Z"
      );
    }
  }
}
